<clap-app-container [width]="'90%'">
  <img src="assets/images/face.jpeg" alt="" class="profile-picture" />
  <section fxLayoutAlign="space-between start">
    <div>
      <div fxLayoutAlign="center center">
        <p class="user-name">ChristianKatka</p>
        <mat-icon class="material-icons-outlined">verified</mat-icon>
      </div>
      <p>@cloudguy</p>
    </div>
    <!-- <button mat-raised-button>
      Edit Profile
    </button> -->
  </section>
  <section fxLayout>
    <span class="bold-number" style="margin-right: 5px">862k</span>
    <span class="gray-text" style="margin-right: 10px">Followers</span>
    <span class="bold-number" style="margin-right: 5px">671k</span>
    <span class="gray-text" style="margin-right: 10px">Following</span>
    <span class="bold-number" style="margin-right: 5px">993k</span>
    <span class="gray-text">Likes</span>
  </section>

  <mat-divider></mat-divider>
  <p>My name is christian and I am very good at programming</p>
</clap-app-container>
