<clap-app-container *ngIf="myProfileData" [width]="'90%'">
  <section
    fxLayout="column"
    fxLayoutAlign="center center"
    class="user-name-and-image-wrapper"
  >
    <img src="assets/images/face.jpeg" alt="" class="profile-picture" />

    <button
      (click)="this.openEditProfileBottomSheet.emit()"
      class="mat-elevation-z3 edit-button"
      mat-icon-button
    >
      <mat-icon class="material-icons-outlined">edit</mat-icon>
    </button>

    <div fxLayoutAlign="start start">
      <p class="user-name">{{ myProfileData.nickname }}</p>
      <mat-icon class="material-icons-outlined verified-icon"
        >verified</mat-icon
      >
    </div>
    <p class="at-username">@{{ myProfileData.nickname }}</p>
  </section>

  <p style="text-align: center">{{ myProfileData.bio }}</p>
  <mat-divider></mat-divider>

  <section fxLayoutAlign="space-between center" style="margin-bottom: 1rem">
    <span class="bold-number" style="margin-right: 5px">862</span>
    <span class="gray-text" style="margin-right: 10px">Likes</span>
    <span class="bold-number" style="margin-right: 5px">671</span>
    <span class="gray-text" style="margin-right: 10px">Comments</span>
    <span class="bold-number" style="margin-right: 5px">993</span>
    <span class="gray-text">Views</span>
  </section>
</clap-app-container>
