<clap-app-container [width]="'94%'">
  <section fxLayoutAlign="center center">
    <img
      class="notifications-art"
      src="assets/art/push_notifications.png"
      alt=""
    />
  </section>
  <h1>notifications</h1>

  <clap-app-notifications-some-one-liked-your-post></clap-app-notifications-some-one-liked-your-post>

  <clap-app-notifications-multiple-people-liked-your-post></clap-app-notifications-multiple-people-liked-your-post>

  <clap-app-notifications-some-one-commented-on-your-post></clap-app-notifications-some-one-commented-on-your-post>

  <clap-app-notifications-some-one-liked-your-comment></clap-app-notifications-some-one-liked-your-comment>

</clap-app-container>
