@import '../../../styles.scss';

.login-image {
  width: 15rem;
  object-fit: cover;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

mat-icon {
  color: rgb(53, 53, 53);
}

b {
  cursor: pointer;
  color: $clap-blue;
}

.toggleShowPasswordButton {
  cursor: pointer;
}

.alert {
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #efefef;
  border-radius: 2px;

  mat-icon {
    color: $clap-error-red;
  }
}












app-info,
app-alert {
  margin-bottom: 16px;
}

/*
 * disable auto-zoom on iphone input field focus 
 * http://www.456bereastreet.com/archive/201212/ios_webkit_browsers_and_auto-zooming_form_controls/
*/
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  font-size: 16px;
}

/* disable auto-zoom on iphone input field focus */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
