<section fxLayoutAlign="space-between start">
  <p (click)="this.closeBottomSheet.emit()" class="cancel-button">Cancel</p>
  <p class="edit-profile-text">Edit Profile</p>
  <p (click)="this.closeBottomSheet.emit()" class="done-text">Done</p>
</section>

<section fxLayout="column" fxLayoutAlign="center center">
  <img src="assets/images/face.jpeg" alt="" class="profile-picture" />
  <p class="change-profile-photo-button">Change profile photo</p>

</section>

<clap-app-my-profile-edit-form [myProfileData]="myProfileData" [loading]="loading" (addBio)="this.addBio.emit($event)"></clap-app-my-profile-edit-form>
