main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: radial-gradient(ellipse, #c55d29, #4b1c0d);
}

mat-progress-bar {
  width: 100px;
}

img {
  width: 200px;
}
