<div style="margin-top: 6px" fxLayout="row" fxLayoutAlign="center end">
  <img src="{{ myProfileImage }}" alt="profile-image" class="profile-image" />

  <form [formGroup]="commentForm" fxLayoutAlign="center center">
    <mat-form-field appearance="outline">
      <mat-label>Add a comment...</mat-label>
      <textarea
        matInput
        clapAppAutofocus
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="4"
        formControlName="comment"
        maxlength="1000"
      ></textarea>
      <!-- <button
        mat-icon-button
        (click)="submit()"
        [disabled]="this.commentForm.invalid"
      >
        <mat-icon matSuffix class="material-icons-outlined">send</mat-icon>
      </button> -->
      <mat-icon
        (click)="submit()"
        matSuffix
        class="material-icons-outlined"
        >send</mat-icon
      >
    </mat-form-field>
  </form>
</div>
