<div
  style="margin-top: 1rem"
  class="multiple-people-liked-your-post-wrapper"
  fxLayoutAlign="space-between center"
>
  <section fxLayout="row" fxLayoutAlign="center center">
    <div class="two-profile-images-wrapper">
      <img
        src="assets/images/elon_musk.png"
        alt="first-profile-image"
        class="first-profile-image"
      />
      <img
        src="assets/images/face.jpeg"
        alt="second-profile-image"
        class="second-profile-image"
      />
    </div>
    <span style="line-height: 17px"
      ><b>ChristianKatka, ElonMusk</b> and <b>82 others,</b> liked your
      post.<span class="date-text">18h</span></span
    >
    

    <!-- <span class="user-name">ChristianKatka, ElonMusk</span>
    <span>and</span>
    <span><b>82 others,</b></span>
    <span>liked your photo.</span>
    <span class="date-text">18h</span> -->
  </section>

  <img class="posted-image" src="assets/images/photo1.jpg" alt="" />
</div>
