@import "../../../styles.scss";

section {
  margin-bottom: 1rem;
}

.take-image-wrapper {
  border-radius: 6px;
  height: 6rem;
  width: 10rem;
}

// .upload-image-wrapper {
//   border-radius: 6px;
//   height: 6rem;
//   width: 10rem;
// }

// mat-icon {
//   color: $clap-dark-gray;

//   transform: scale(1.5);
// }

// p {
//   color: $clap-dark-gray;
//   margin: 0;
//   padding-top: 5px;
// }
