<section fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="take-image-wrapper mat-elevation-z2"
  >
    <mat-icon class="material-icons-outlined">photo_camera</mat-icon>
    <p>Take image</p>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="upload-image-wrapper mat-elevation-z2"
  >
    <mat-icon class="material-icons-outlined">add_photo_alternate</mat-icon>
    <p>Upload image</p>
  </div>
</section>
