<app-info>
  <p>
    Jatkaaksesi palveluun sinun on ensin syötettävä uusi salasana.
  </p>
</app-info>

<app-alert
  *ngIf="this.errorCode"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="8px"
>
  <mat-icon>error_outline</mat-icon>
  <mat-error>
    Syöttämäsi salasana on virheellinen.
  </mat-error>
</app-alert>

<form
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="8px"
  [formGroup]="newPasswordForm"
>
  <mat-form-field appearance="outline">
    <input
      type="password"
      matInput
      placeholder="Syötä uusi salasana"
      formControlName="password"
    />
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    type="submit"
    (click)="this.submit()"
    [disabled]="this.newPasswordForm.invalid"
  >
    Vaihda uusi salasana
  </button>

  <a mat-button routerLink="/sign-in">Kirjaudu uudelleen</a>
</form>
