<div
  *ngFor="let comment of comments"
  style="margin-top: 1rem"
  class="some-one-commented-your-post-wrapper"
  fxLayoutAlign="space-between start"
>
  <section fxLayout="row" fxLayoutAlign="start start">
    <img
      src="{{ comment.likersProfileImage }}"
      alt="profile-image"
      class="profile-image"
    />
    <div>
      <span style="line-height: 17px"
        ><b>{{ comment.nickname }}</b> {{ comment.text }}
      </span>
      <p class="comment-info">
        {{ comment.createdAt | timeAgo
        }}<b class="comment-likes-amount">200 likes</b>
      </p>
    </div>
  </section>

  <mat-icon class="comment-like material-icons-outlined"
    >favorite_border</mat-icon
  >
</div>
