<div
  *ngFor="let comment of comments"
  style="margin-top: 1rem"
  class="some-one-commented-your-post-wrapper"
  fxLayoutAlign="space-between start"
>
  <section fxLayout="row" fxLayoutAlign="start start">
    <img
      src="{{ comment.commentersProfileImage }}"
      alt="profile-image"
      class="profile-image"
    />
    <div>
      <span style="line-height: 17px"
        ><b>{{ comment.nickname }}</b> {{ comment.text }}
      </span>

      <div class="comment-info-wrapper">
        <span *ngIf="this.isCommentDraft(comment)">just now</span>
        <span *ngIf="!this.isCommentDraft(comment)">{{
          comment.createdAt | timeAgo
        }}</span>
        <span class="comment-likes-amount">100 likes</span>
      </div>
    </div>
  </section>

  <!-- <mat-icon (click)="giveLikeToComment(comment)" class="comment-like material-icons-outlined"
    >favorite_border</mat-icon
  > -->
  <div fxLayout="row">
    <mat-icon
      (click)="giveLikeToComment(comment)"
      class="material-icons-outlined comment-like"
      >favorite_border</mat-icon
    >
    <!-- <mat-icon
      *ngIf="post.iLikeThisPost"
      (click)="onRemoveLikeFromPost(post.iLikeThisPost, post.postLikes)"
      class="material-icons-outlined comment-like liked"
    >
      favorite
    </mat-icon> -->
  </div>
</div>

<!-- New comments via socket -->
<section *ngIf="newComments.length">
  <clap-app-divider-with-text>New comments</clap-app-divider-with-text>

  <div
    *ngFor="let comment of newComments"
    style="margin-top: 1rem"
    class="some-one-commented-your-post-wrapper"
    fxLayoutAlign="space-between start"
  >
    <section fxLayout="row" fxLayoutAlign="start start">
      <img
        src="{{ comment.commentersProfileImage }}"
        alt="profile-image"
        class="profile-image"
      />
      <div>
        <span style="line-height: 17px"
          ><b>{{ comment.nickname }}</b> {{ comment.text }}
        </span>
        <p class="comment-info">
          {{ comment.createdAt | timeAgo
          }}<b class="comment-likes-amount">200 likes</b>
        </p>
      </div>
    </section>
    <p>{{ isCommentDraft(comment) }}</p>

    <mat-icon class="comment-like material-icons-outlined"
      >favorite_border</mat-icon
    >
  </div>
</section>

<clap-app-new-comments-below
  *ngIf="newComments.length"
></clap-app-new-comments-below>
