<section fxLayoutAlign="center center">
  <object data="assets/art/post.svg" type="image/svg+xml"></object>
</section>

<clap-app-container [width]="'90%'">
  <h1>Create post</h1>
  <clap-app-create-post-add-image
    *ngIf="!imageSelected"
    (postImageSelected)="holdPostImage($event)"
  ></clap-app-create-post-add-image>
  <clap-app-create-post-image-holder
    *ngIf="imageSelected"
    [postImageSelected]="imageSelected"
  ></clap-app-create-post-image-holder>
  <clap-app-create-post-form
    [loading]="loading"
    (createPost)="onCreatePost($event)"
  ></clap-app-create-post-form>
</clap-app-container>
