<section fxLayoutAlign="center center">
  <object data="assets/art/post.svg" type="image/svg+xml"></object>
</section>

<clap-app-container [width]="'90%'">
  <h1>Create post</h1>
  <clap-app-create-post-add-media
    *ngIf="!mediaSelected"
    (postMediaSelected)="holdPostMedia($event)"
  ></clap-app-create-post-add-media>
  <clap-app-create-post-media-holder
    *ngIf="mediaSelected"
    [postMediaSelected]="mediaSelected"
  ></clap-app-create-post-media-holder>
  <clap-app-create-post-form
    [loading]="loading"
    (createPost)="onCreatePost($event)"
  ></clap-app-create-post-form>
</clap-app-container>
