<main fxLayout="column" fxLayoutGap="20px">
  <section *ngFor="let post of postsWithoutImage">
    <clap-app-posts-user-wrapper
      [nickname]="post.nickname"
      [creatorsProfileImage]="post.creatorsProfileImage"
    ></clap-app-posts-user-wrapper>

    <div class="posted-text-wrapper" fxLayoutAlign="center center">
      <h1 class="posted-text">{{ post.text }}</h1>
    </div>

    <clap-app-container [width]="'94%'">
      <div
        class="function-buttons-wrapper"
        fxLayoutAlign="space-between center"
      >
        <section fxLayout="row" fxLayoutGap="16px">
          <!-- LOADING -->
          <div *ngIf="loading" fxLayout="row">
            <mat-icon
              *ngIf="!post.iLikeThisPost"
              class="material-icons-outlined"
              >favorite_border</mat-icon
            >
            <mat-icon *ngIf="post.iLikeThisPost" class="material-icons liked">
              favorite
            </mat-icon>
          </div>

          <!-- NOT LOADING -->
          <div *ngIf="!loading" fxLayout="row">
            <mat-icon
              *ngIf="!post.iLikeThisPost"
              (click)="this.giveLikeToPost.emit(post)"
              class="material-icons-outlined"
              >favorite_border</mat-icon
            >
            <mat-icon
              *ngIf="post.iLikeThisPost"
              (click)="onRemoveLikeFromPost(post.iLikeThisPost, post.postLikes)"
              class="material-icons liked"
            >
              favorite
            </mat-icon>
          </div>

          <mat-icon class="material-icons-outlined"
            >chat_bubble_outline</mat-icon
          >
          <mat-icon class="material-icons-outlined">share</mat-icon>
        </section>
        <mat-icon class="material-icons-outlined">bookmark_border</mat-icon>
      </div>
      <p class="likes-text" [style.margin-top]="'5px'">
        {{ post.postLikes.length }} likes
      </p>
      <p><b>ChristianKatka</b> {{ post.text }}</p>
      <p class="view-all-comments-text">View all 5 comments</p>

      <div fxLayoutAlign="space-between center">
        <p><b>ElonMusk69</b> Because you are poor</p>
        <mat-icon style="transform: scale(0.5)" class="material-icons-outlined"
          >favorite_border</mat-icon
        >
      </div>

      <div class="add-comment-wrapper" fxLayoutAlign="space-between center">
        <section
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
        >
          <img
            src="assets/images/elon_musk.png"
            alt="profile-image"
            class="profile-image"
          />
          <p class="add-comment-text">Add a comment...</p>
        </section>
        <p>👏</p>
      </div>

      <p class="date-text">{{ post.createdAt | timeAgo }}</p>
    </clap-app-container>
  </section>
</main>
