<app-info>
  <p>
    Vaihtaaksesi salasanasi syötä alla oleviin kenttiin sähköpostiin
    <strong>{{ username }}</strong> saamasi salasanan vaihtokoodi sekä uusi
    salasana kahteen kertaan.
  </p>
</app-info>

<app-alert
  *ngIf="this.isNewPasswordCodeMismatch"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="8px"
>
  <mat-icon>error_outline</mat-icon>
  <mat-error>
    Salasanan vaihtokoodi on virheellinen. Ole hyvä ja tarkista sähköpostiisi
    lähetetyn vaihtokoodin oikeellisuus.
  </mat-error>
</app-alert>

<form
  [formGroup]="confirmPasswordForm"
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="8px"
>
  <!--
    <ng-container *ngIf="this.isUserNameEmpty(); else hiddenUserName">
        <mat-form-field appearance="outline">

            <mat-label>Sähköpostiosoite</mat-label>

            <input matInput type="email" formControlName="username" />

            <mat-error *ngIf="confirmPasswordForm.get('username').hasError('required')">
                Sähköpostiosoite on pakollinen
            </mat-error>

        </mat-form-field>
    </ng-container>

    <ng-template #hiddenUserName>
        <input type="hidden" formControlName="username" />
    </ng-template>
    -->

  <mat-form-field appearance="fill">
    <mat-label>Salasanan vaihtokoodi</mat-label>

    <input
      matInput
      type="text"
      formControlName="code"
      autocomplete="new-code"
    />

    <mat-error *ngIf="confirmPasswordForm.get('code')?.hasError('required')">
      Vaihtokoodi on pakollinen
    </mat-error>
  </mat-form-field>

  <div
    fxLayout="column"
    fxLayoutAlign="start"
    fxLayoutGap="8px"
    [formGroup]="passwordsFormGroup"
  >
    <mat-form-field appearance="fill">
      <mat-label>Salasana</mat-label>

      <input
        matInput
        id="password"
        type="password"
        formControlName="password"
        autocomplete="new-password"
      />

      <mat-error
        *ngIf="passwordsFormGroup.get('password')?.hasError('minlength')"
      >
        Salasanan pitää olla vähintään 8 merkkiä pitkä
      </mat-error>

      <mat-error
        *ngIf="passwordsFormGroup.get('password')?.hasError('required')"
      >
        Aseta salasana
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Vahvista salasana</mat-label>

      <input
        matInput
        type="password"
        id="passwordConfirm"
        formControlName="passwordConfirm"
        [errorStateMatcher]="matcher"
        autocomplete="new-password"
      />
      <mat-error
        *ngIf="
          passwordsFormGroup.get('passwordConfirm')?.dirty &&
          passwordsFormGroup.hasError('notSame')
        "
      >
        Salasanojen on täsmättävä
      </mat-error>
    </mat-form-field>
  </div>

  <button
    mat-flat-button
    color="primary"
    [disabled]="confirmPasswordForm.invalid"
    (click)="submit()"
  >
    Lähetä
  </button>

  <a mat-button routerLink="/sign-in" color="primary"
    >Takaisin sisäänkirjautumiseen</a
  >
</form>
