<clap-app-my-profile-posts-user-wrapper></clap-app-my-profile-posts-user-wrapper>
<img class="posted-image" src="assets/images/photo1.jpg" alt="" />

<clap-app-container [width]="'94%'">
  <div class="function-buttons-wrapper" fxLayoutAlign="space-between center">
    <section fxLayout="row" fxLayoutGap="13px">
      <mat-icon class="material-icons-outlined">favorite_border</mat-icon>
      <mat-icon class="material-icons-outlined">chat_bubble_outline</mat-icon>
      <mat-icon class="material-icons-outlined">share</mat-icon>
    </section>
    <mat-icon class="material-icons-outlined">bookmark_border</mat-icon>
  </div>
  <p class="likes-text" [style.margin-top]="'5px'">252 likes</p>
  <p><b>ChristianKatka</b> Why the fuck is it so expensive</p>
  <p class="view-all-comments-text">View all 5 comments</p>

  <div fxLayoutAlign="space-between center">
    <p><b>ElonMusk69</b> Because you are poor</p>
    <mat-icon style="transform: scale(0.5)" class="material-icons-outlined"
      >favorite_border</mat-icon
    >
  </div>

  <div class="add-comment-wrapper" fxLayoutAlign="space-between center">
    <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <img
        src="assets/images/elon_musk.png"
        alt="profile-image"
        class="profile-image"
      />
      <p class="add-comment-text">Add a comment...</p>
    </section>
    <p>👏</p>
  </div>

  <p class="date-text">1 day ago</p>
</clap-app-container>


<!--  -->

<clap-app-my-profile-posts-user-wrapper></clap-app-my-profile-posts-user-wrapper>
<img class="posted-image" src="assets/images/photo1.jpg" alt="" />

<clap-app-container [width]="'94%'">
  <div class="function-buttons-wrapper" fxLayoutAlign="space-between center">
    <section fxLayout="row" fxLayoutGap="13px">
      <mat-icon class="material-icons-outlined">favorite_border</mat-icon>
      <mat-icon class="material-icons-outlined">chat_bubble_outline</mat-icon>
      <mat-icon class="material-icons-outlined">share</mat-icon>
    </section>
    <mat-icon class="material-icons-outlined">bookmark_border</mat-icon>
  </div>
  <p class="likes-text" [style.margin-top]="'5px'">252 likes</p>
  <p><b>ChristianKatka</b> Why the fuck is it so expensive</p>
  <p class="view-all-comments-text">View all 5 comments</p>

  <div fxLayoutAlign="space-between center">
    <p><b>ElonMusk69</b> Because you are poor</p>
    <mat-icon style="transform: scale(0.5)" class="material-icons-outlined"
      >favorite_border</mat-icon
    >
  </div>

  <div class="add-comment-wrapper" fxLayoutAlign="space-between center">
    <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <img
        src="assets/images/elon_musk.png"
        alt="profile-image"
        class="profile-image"
      />
      <p class="add-comment-text">Add a comment...</p>
    </section>
    <p>👏</p>
  </div>

  <p class="date-text">1 day ago</p>
</clap-app-container>
